$base-unit: 16px;

$primary-color: #ffffff;
$body-bg: #59488b;

$front-color: rgba(253,45,7,0.6);
$back-color: rgba(37,169,158,0.6);

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin on-the-edge {
	margin: 0;
	padding: 0;
}

@mixin helvetica {
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

html {
	height: 100%;
}

body {
	@include on-the-edge;
	@include helvetica;
	height: 100%;
	background: $primary-color;
	-webkit-font-smoothing: antialiased;
}

.login-container,
.app-container,
.flip-container,
.add-word-container,
.flipper,
.front,
.back {
	width: 100%;
	height: 100%;
}

.front, .back {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.app-container {
	display: none;

	&.active {
		display: block;
	}
}

.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 0.6s;
	-moz-transition: 0.6s;
	-moz-transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front {
	z-index: 2;
	background-color: $front-color;
}

.back {
	background-color: $back-color;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

/* flip the pane when hovered */
.flip-container.hover .flipper {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.card {
	height: 100%;
	width: 100%;
}

h1 {
	@include vertical-align;
	@include on-the-edge;
	font-size: 13vw;
	text-align: center;
	font-weight: 200;
	color: $primary-color;
}

// Facebook login
.login-container {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: $front-color;
	-webkit-transition: bottom 0.3s ease-out;
	display: block;

	&.loggedin {
		display: none;
	}

	a {
		color: #ffffff;
		border: 2px #fff dashed;
		padding: 0.6rem 2rem;
		border-radius: 0.5rem;
		font-size: 3vw;
		font-weight: 200;
		cursor: pointer;
		background-color: rgba(255,255,255,0);
		-webkit-transition: background-color ease-in 0.3s;

		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
}

 .fb-login{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 35%;
}

.add-word-container {
	position: absolute;
	top: 0;
	background-color: $front-color;
	display: none;

	&.active {
		display: block;
	}
}

.addword {
	width: 50%;
	margin: 10% auto;
	text-align: center;
}

.word-input {
	padding: 1rem;
	font-size: 1rem;
	border: none;
	display: block;
	width: 22rem;
	margin: 0.5rem auto;
}

input[type="submit"] {
	@include helvetica;
	background: $back-color;
	border: none;
	display: block;
	width: 4rem;
	height: 4rem;
	margin: auto;
	border-radius: 50%;
	font-size: 3rem;
	color: #ffffff;
}
