$icon-font-path: "../components/bootstrap-sass/assets/fonts/bootstrap/";


@import "../components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);

$primary-color: rgba(37, 169, 158, 0.6);
$secondary-color: rgba(253, 45, 7, 0.6);

.warning-message {
  text-align: center;
  display: none;
  margin-top: 175px;

  .glyphicon {
    font-size: 90px;
    color: #FE816A;
    text-shadow: 2px 3px 0 #fff;
  }

  p {
    font-family: 'Slabo 27px', serif;
    margin: 30px;
    font-size: 21px;
    color: #fff;
  }
}

  @media only screen and (orientation:portrait) and (max-width: 768px){
    .wrapper { display:none; }
    .warning-message { display:block; }
  }
  @media only screen and (orientation:landscape) and (min-width: 769px){
    .warning-message { display:none; }
  }

body {
  background-color: $primary-color;
}

.table {
  margin: 0;
  table-layout: fixed;

  & > tbody > tr > td {
    line-height: 4.5rem;
    font-family: 'Slabo 27px', serif;
    font-size: 18px;
    color: #666;
    border-top: 1px solid #fff;
    padding: 8px 16px;
    text-shadow: 1px 1px 0 #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
  }
}

.words-list__row {
  background-color: rgba(255, 255, 255, 0.9);
}

.list-tools-cont {
  position: relative;
}

.list-tools {
  position: absolute;
  top: 0;
  right: -40px;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.55, 0.06, 0.68, 1.82);
  padding-right: 40px;

  &.ng-hide {
    right: -233px;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
    padding: 22px;
  }
}

.table-striped>tbody>tr:nth-child(odd),
.table-striped>tbody>tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.6);
}
