<table class="table table-striped" >
  <tbody>
    <tr class="words-list__row" ng-click="list.itemClicked($index); toolsOn = !toolsOn" ng-repeat="word in list.words">
      <td>
        {{word.eng}}
      </td>
      <td class="list-tools-cont" colspan="2">
        {{word.hun}}</span>
        <div ng-show="$index==selectedIndex" class="list-tools ng-hide-animate">
          <a class="glyphicon glyphicon-pencil" href="#/edit/{{word.id}}"></a>
          <a class="glyphicon glyphicon-remove" ng-click="deleteWord(word, $index)"></a>
          <a class="glyphicon glyphicon-refresh" ng-click="swapWord(word, $index)"></a>
        </div>
      </td>
   </tr>
 </tbody>
</table>
